body{
    font-family: Arial, Helvetica, sans-serif;
}

.mainDiv{
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
}

h1{
    font-weight: lighter;
}

.upperDiv{
    background-color: #014B7D;
    color:white;
    gap: 10px;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.navDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px;
    gap: 10px;
    margin-top: 10px;
}

.navButtons{
    justify-content: center;
    align-items: center;
    padding: 10px;
    float: right;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 30px;
}

.navButtons a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.upperTextDiv{
    margin-top: 200px;
    width: 75%;
}

.upperTextDiv h1{
    font-size: 75px;
    margin-bottom: 20px;
}

.upperTextDiv span{
    font-size: 25px;
    margin-bottom: 20px;
}

.upperButtons a:hover{
    background-color: black;
}

.upperButtons{
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.upperButton1{
    background-color: rgb(30, 113, 105);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
}

.upperButton2{
    background-color: darkblue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    transition: background-color 0.3s ease-in-out;
}

.secDiv{
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.secDiv span{
    color: gray;
}

.secTextDiv{
    width: 50%;
    margin: 0 auto;
    padding: 50px 0;
}

.secTextDiv h1{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.secTextDiv span{
    font-size: 20px;
    margin-bottom: 20px;
}

.secMidDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: 0 auto;
}

span{
    padding: 30px;
    line-height: 1.5;
}

.secLeftDiv{
    display: inline-block;
    width: 90%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    gap: 20px;
}

.firstSLeftDiv{
    display: inline-block;
    flex-direction: column;
    padding: 20px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: flex-start;
}

.firstSLeftDiv span{
    margin-left: 0px;
    margin-top: -30px;
    float: left;
}

.secSLeftDiv{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-left: 0px;
    margin-top: 0px;
    text-align: left;
}

.secSLeftDiv span{
    margin-left: 0px;
    margin-top: -30px;
    float: left;
}

.secLeftDiv a{
    background-color: rgb(30, 113, 105);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.thirdDiv{
    background-color: rgb(30, 113, 105);
    color: white;
    padding: 50px;
    text-align: center;
    align-items: center;
}

.thirdDiv h4{
    margin-bottom: 20px;
    font-weight: 10px;
}


.thirdDiv a{
    background-color: darkblue;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.fourthDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: #E5E6EA;
}

.fourthMidDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.fourthLeftDiv img{
    width: 400px;
    height: 400px;
}

.fourthRightDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px;
    gap: 10px;
}

.firstSpanAt4thDiv{
    font-weight: 10px;
    margin-bottom: 20px;
    font-size: 25px;
}

.fourthRightDiv a{
    background-color: rgb(30, 113, 105);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.bottomDiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 50px;
}

.bottomButton1{
    background-color: darkblue;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}

.secondSpanAtBottomDiv{
    font-weight: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}

.bottomDiv h2{
    font-weight: lighter;
    margin-bottom: 20px;
    font-size: 25px;
}

.bottomButton2{
    background-color: rgb(30, 113, 105);
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
}